.login-title {
  font-size: 25px;
  color: white;
  width: 100%;
  margin: 20px 0 10px 0;
}

.login-subtitle {
  font-size: 18px;
  line-height: 29px;
  color: white;
  width: 100%;
  margin: 0 0 40px 0;
}

.runpt-text {
  color: var(--green);
}

/* 중앙 큰 이미지 */
.login-logo {
  width: 300px;
  height: auto;
  display: block;
  margin: auto auto auto auto; /* 좌우 중앙 정렬 */
  object-fit: cover;
}

/* 버튼 공통 */
.login-buttons {
  width: 100%;
}

.login-btn {
  width: 100%;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

/* 아이콘 크기 통일 */
.icon {
  width: 100%;
  height: auto;
}

/* 카카오 버튼 */
.kakao-btn {
  background-color: #fee500;
  color: #000000;
  margin-bottom: 10px;
}

/* 네이버 버튼 */
.naver-btn {
  background-color: #03c75a;
  color: white;
}
