.login-page {
  padding-top: 80px;     /* 상단 여백 늘리기 */
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 80px;
}


.welcome-title {
  font-size: 40px;
  color: white;
  width: 100%;
  margin: 0 0 16px 0;
}

.welcome-subtitle {
  font-size: 24px;
  line-height: 29px;
  color: white;
  width: 100%;
  margin: 0 0 40px 0;
}

.runpt-text {
  color: var(--app-color);
}

/* 중앙 큰 이미지 */
.main-logo {
  width: 350px;
  height: auto;        
  display: block;
  margin: auto auto auto auto;  /* 좌우 중앙 정렬 */
  object-fit: cover;    
}

/* 버튼 공통 */
.login-buttons {
  width: 100%;
}

.login-btn {
  width: 100%;
  height: 60px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

/* 아이콘 크기 통일 */
.icon {
  width: auto;
  height: 60px;
}

/* 카카오 버튼 */
.kakao-btn {
  background-color: #FEE500;
  color: #000000;
}

/* 네이버 버튼 */
.naver-btn {
  background-color: #03C75A;
  color: white;
}
