.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;  /* 위쪽 적당한 여백 */
}

.welcome-logo {
  width: 300px;
  height: auto;        
  display: block;
  margin: 30px auto 8px auto;
  object-fit: cover; 
  align-items: center;   
}

.welcome-title {
  font-size: 40px;
  color: white;
  width: 100%;
  
}

.welcome-subtitle {
  font-size: 20px;
  line-height: 29px;
  color: white;
  width: 100%;
  margin: 0 0 40px 0;
}