.welcome-logo {
  width: 150px;
  height: auto;        
  display: block;
  margin: 0 auto 8px auto;
  object-fit: cover;    
}
.welcome-title {
  font-size: 40px;
  color: white;
  width: 100%;
  
}

.welcome-subtitle {
  font-size: 20px;
  line-height: 29px;
  color: white;
  width: 100%;
  margin: 0 0 40px 0;
}