:root {
  --app-color: #DAFD2E;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: sans-serif;
    max-width: 700px;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    background: #090909;
  }

.big-button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #090909;
  background :var(--app-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(106, 90, 249, 0.25);
  transition: background-color 0.2s;
}