:root {
  --green: 218, 253, 46;        /* #DAFD2E */
  --yellow: 255, 255, 0;       /* #FFFF00 */
  --red: 255, 77, 79;          /* #FF4D4F */
  --black: 9, 9, 9;            /* #090909 */
  --white: 248, 248, 248;      /* #F8F8F8 */
  --gray: 37, 37, 37;          /* #252525 */
}

<<<<<<< HEAD
=======
.font-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.font-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
>>>>>>> e3539d717f1f7b2ccdcb6ff32a1cfc51ae18b161

.container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: sans-serif;
    max-width: 700px;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    background: #090909;
  }

.big-button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #090909;
  background :rgba(var(--green));
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(var(--green), 0.25);
  transition: background-color 0.2s;
}